<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled site</title>
    {{#styles}}
        <link rel="stylesheet" type="text/css" href="{{.}}">
    {{/styles}}
    {{#fonts}}
        <link href="{{.}}" rel="stylesheet">
    {{/fonts}}
</head>
<body>
<div id="app">{{{app}}}</div>
<script type="text/javascript">window.__state__='{{{initialState}}}';</script>
{{#scripts}}
    <script type="text/javascript" src="{{.}}"></script>
{{/scripts}}
</body>
</html>
